########################
#  File-Sort .gitignore
########################

# PHP / Composer
vendor/
*.log

# Node (falls später genutzt)
node_modules/
npm-debug.log

# Betriebssystem-Müll
.DS_Store
Thumbs.db

# IDEs / Editoren
.idea/
.vscode/

# Projekt-spezifisch
.env
file-sort.zip
log/
output/
packages/getfiles/files/*.zip
packages/getfiles/files/*.zip

# --- Serverzeug, nicht committen ---
/vendor/
/logs/
/packages/getfiles/files/
/packages/stream-tools/stream-create/logs/
/packages/stream-tools/stream-create/output_m3u8/
*.mp3
*.mp4
*.zip
